.hidden {
    display: none;
}

#user-icon {
    border-radius: 90%;
}

header img {
    width: 4.5vw;
    height: 4.5vw;
    object-fit: fill;
    cursor: pointer;
}

header img:hover {
    opacity: 90%;
}

header {
    position: fixed;
    z-index: 1;
    left: 2.4vw;
    top: 2.4vw;
    background-color: rgba(245, 245, 245, 0.12);
    box-shadow: 0 8px 32px 0 rgba(84, 90, 184, 0.09);
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 3.0px );
    border-radius: 3vw;
}

#menu-head {
    background-color: rgba(245, 245, 245, 0.12);
    padding: 1.8vw;
    padding-left: 0.3vw;
    padding-bottom: 1.5vw;
    height: 4.5vw;
    border-radius: 3vw;
    display: flex;
    gap: 2.1vw;
    box-shadow: 0 8px 32px 0 rgba(84, 90, 184, 0.09);
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 3.0px );
    align-items: center;
}

#menu-head:hover {
    box-shadow: 0 8px 32px 0 rgba(84, 90, 184, 0.12);
}

.user, .signup {
    cursor: pointer;
}

.navbar {
    list-style: none;
    padding-bottom: 1.5vw;
    padding-left: 3.9vw;
}

.navbar li {
    padding-top: 1.5vw;
}

#action-button {
    position: fixed;
    z-index: 1;
    top: 3.9vw;
    right: 3vw;
    border-radius: 1.5vw;
    background-color: rgba(245, 245, 245, 0.12);
    border: none;
    padding: 1.2vw;
    padding-left: 1.8vw;
    padding-right: 1.8vw;
    box-shadow: 0 8px 32px 0 rgba(84, 90, 184, 0.09);
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 3.0px );
}

header button:hover {
    box-shadow: 0 8px 32px 0 rgba(84, 90, 184, 0.18);
    cursor: pointer;
}