#user-icon {
    border-radius: 90%;
}

header img {
    width: 6.9vw;
    height: 6.9vw;
    object-fit: fill;
}

header img:hover {
    opacity: 90%;
}

#menu-head {
    background-color: rgba(245, 245, 245, 0.986);
    position: fixed;
    left: 3vw;
    top: 3vw;
    padding: 2.4vw;
    height: 6.9vw;
    border-radius: 3vw;
    display: flex;
    gap: 3vw;
}

.hidden {
    display: none;
}

header button {
    position: fixed;
    top: 4.5vw;
    right: 4.5vw;
    border: .45vw transparent solid;
    border-radius: 1.5vw;
    background-color: rgba(245, 245, 245, 0.986);
    padding: 1.2vw;
}

header button:hover {
    border: .45vw cadetblue solid;
    cursor: pointer;
}